<!DOCTYPE html>
<html>
<head>
  <title>Spex</title>
  <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/flash_messages' %>
<%= yield %>

</body>
</html>
